.hamburger span, .nav-toggle span {
  background-color: #fff;
}
.button.is-primary {
  background-color: #434A54;
}
.button.is-primary:hover, .button.is-primary:focus, .button.is-primary.is-active {
  background-color: #4A89DC;
}
.nav {
  background-color: #333;
}
.nav-item a:hover, a.nav-item:hover {
  color: #fff;
}
.nav-item a, a.nav-item {
  color: #999;
  margin-left: 10px;
  margin-right: 10px;
}
.subtitle {
  color: #fff;
}
.title.is-1 {
  font-size: 52px;
  color: #fff;
}
.title {
  color: #fff;
}
.hero {
  background-image: url(../images/background.png);
  padding-bottom: 25px;
}
.fa-link, {
  vertical-align: middle;
}
.fa {
  margin-left: 3px;
  margin-right: 3px;
}
.columns {
  margin: 20px;
}
.message {
  color: #434a54;
}
.message-header {
  background-color: #e6e9ed;
  font-size: 16px;
  color: #434a54;
}
.message.is-info .message-header {
  background-color: #4A89DC;
}
.message.is-info .message-body {
  border-color: #4A89DC;
}
.hero .nav {
  box-shadow: none;
}
.hero-body {
  padding-top: 10px;
  padding-bottom: 50px;
}
.hamburger:hover, .nav-toggle:hover {
  background-color: transparent;
}
